h1 {
    margin: 12px 0;
}
p {
    margin: 0 0 8px;
}
.mdl-card__supporting-text {
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    line-height: 18px;
    padding: 16px;
    width: 90%;
}
.mdl-chip {
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #dedede;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
}
.mdl-chip__text {
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
}
.print-notice {
    font-size: 1.2em;
    font-weight: 600;
}
.question-single {
    background: #fff;
    width: 100%;
}
.question-single .section-inner {
    max-width: 730px;
    margin: 0 auto;
}
.qa-template-print .question-single .mdl-layout-title {
    font-size: 220%;
    font-weight: 700;
    line-height: 1.2;
}
.qa-template-print .question-single .mdl-layout-title .mdl-cell {
    width: unset;
}
.qa-template-print .question-single .section-inner .entry-content {
    font-size: 130%;
    line-height: 1;
}
.qa-template-print .question-single .section-inner .entry-content p {
    font-size: 100%;
    line-height: 1.2;
}
.qa-template-print .profile .meta-who-data {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(255, 110, 64);
}
.medium-insert-images .image-url {
    display: none;
}
.medium-insert-images, .mediumInsert {
    margin: 1em 0;
}
.mdl-chip.cat-bg-brown {
    background-color: #6d4c41;
}
.mdl-chip.cat-color-white {
    color: white;
}